// layout colors
$mainBgColor: #FAFAFA;
$borderBoxColor: #DBDBDB;

// fonts colors
$postFollowSwitchColor: #219Bf6;
$disabledButton: #B4DFFC;
$tagsColor: #02356B;
$generalFontColor: #262626;
$footerFontColor: #CBCBCB;
$graySuggested: #8E8E8E;

//users img
$bordColorOne: #D7117E;
$bordColorTwo: #F79C4D;