@import "_color-palette";
.main {
  position: relative;
  top: 80px;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  main.wrapper-center {
    position: relative;
    width: 1000px;
    height: calc(100vh - 80px); //TEMP
    margin: 0 auto;
    display: flex;
    .main-left {
      width: 65%;
      height: 100%;
      padding: 5px;
      .posts-box {
        height: 100%;
        width: 100%;
      }
    } //end main-left
    .main-right {
      position: fixed;
      width: 40%;
      right: 0px;
      height: 100%;
      padding: 28px 5px 5px 5px;
      .main-r-wrapper {
        width: 300px;
        height: 565px; 
        padding: 45px 5px 5px 5px;
        position: relative;
        .user-r-section {
          height: calc(100% - 80px);
          width: 100%;
          overflow: hidden;
          position:relative;
          .profile-info-userLogged {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            .img-profile-userLogged {
              margin-right: 20px;
              width: 60px;
              height: 60px;
              overflow: hidden;
              border-radius: 50%;
              img {
                width: 100%;
                border-radius: 50%;
                border: 2px solid lightgray;
              }
              &:hover {
                cursor: pointer;
              }
            }
            .user-name-box {
              .user-name {
                font-weight: bolder;
              }
              .real-name {
                font-size: 12px;
                color: $graySuggested;
              }
            }
            a.change-account {
              position: absolute;
              right: 5px;
              text-decoration: none;
              color: $postFollowSwitchColor;
              font-weight: bold;
            }
          } //end profile-info-userLogged
          .link-to-seggested {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            .suggested-text {
              color: $graySuggested;
            }
            .view-all {
              color: $generalFontColor;
              text-decoration: none;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .suggestions-box {
            .list-users-suggested {
              list-style: none;
              .user-suggested-li {
                margin-bottom: 15px;
                .suggested-user {
                  display: flex;
                  align-items: center;
                  .container-imgUser-story {
                    width: 50px;
                    height: 45px;
                    border-radius: 50%;
                    padding: 2px;  
                    margin-right: 10px;        
                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                    }
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  .userName-burtton-r-contianer {
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    a {
                      position: absolute;
                      right: 10px;
                      text-decoration: none;
                      color: $postFollowSwitchColor;
                      font-weight: bold;
                    }
                  }
                }
              }
            } //end list-user-suggested 
          } //end suggestions-box
        }
        footer {
          position: absolute;
          bottom: 0px;
          color: $footerFontColor;
          height: 80px;
          width: 100%;
          padding-top: 20px;
          .footer-links {
            .link-ul {
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 15px;
              .link-li {
                font-size: 12px;
                margin-right: 5px;
              }
              .link-li.dot::after {
                content: " . ";
              }
              //elimina il dot sull'ultimo della lista
              .link-li.dot:last-child::after {
                content: '';
              }
            }
          }
          .copyright {
          font-size: 13px;
          
          }
        }
      } //end main-r-wrapper
    } // end main right
  } //end main.wrapper-center
} //end main
